root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.{png,jpg,jpeg,gif,webp,pdf}]
charset = unset
end_of_line = unset
trim_trailing_whitespace = unset
insert_final_newline = unset

[**/generated/**]
charset = unset
end_of_line = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
